
body {
    background-image: linear-gradient(90deg,#165F8C,#04B2D9,#4c98a7);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px;

}

header {
   
}

#titulo {
   font-size: 20px;
   text-align: center;
   margin: 1cm;
   color:  #0e5b6d;
}

.produtosdestaque {
    text-align: center;
}
/*
#idimg {  
} */


.max {
    width: 2cm;
    padding-right: 1cm;  
    margin-left: 5px;
    
}

#navbar {
    display: flex;
    text-align: center;
    justify-content: center;
    

}

nav a {
    text-decoration: none;
    margin: 8px;
    padding: 8px;
    color: BLACK;
    font-weight: 600;
    font-size: 12px;
    display: flex;
    transition: 300ms;
    text-align: right;
    
}

nav a:hover {
    color: #43656df6;
}

#produtos {
    display: flex;
    text-align: center;
    
    
}

.produto {
    width: 35%;

    
}

.prd {
    /*border-style: solid;*/
    border-radius: 15px;
    width: auto;
    margin: 1ch;
    padding: 1ch;
    font-size: 12px;
    font-weight: 550;
    background-color: #0e5b6d28;
    border: 5px ridge #0e5b6d28;
    
}

#redesociais {
    text-decoration: none;
    color: black;
}

.rodape {

}

#redesociais {
  justify-content: center;
  width: 50px;
  display: flex;
  margin: 5px;
  position: fixed;
  bottom: 0;
  right: 0;
  text-decoration: none;

}


.logo {
    text-decoration: none;
    margin: 2px;
    font-size: 20px;
    color: black ;
    
}



#newsletter {
    
}

.copy {
    
}